
rules_version = '2';
service cloud.firestore {
  match /databases/{database}/documents {

    /**
     * ElevateFit Security Rules
     */

    function isSignedIn() {
      return request.auth != null;
    }

    function isOwner(userId) {
      return isSignedIn() && request.auth.uid == userId;
    }

    function isExistingOwner(userId) {
      return resource != null && isOwner(userId);
    }

    function matchesPath(field, id) {
      return request.resource.data[field] == id;
    }

    function isImmutable(field) {
      return request.resource.data[field] == resource.data[field];
    }

    // Global Students Directory
    match /students/{studentId} {
      allow read: if isSignedIn();
      allow create: if isOwner(studentId);
      allow update: if isOwner(studentId);
      allow delete: if false;
    }

    match /personalTrainers/{personalTrainerId} {
      allow get, list: if isSignedIn();
      allow create: if isOwner(personalTrainerId) && matchesPath('id', personalTrainerId);
      allow update: if isExistingOwner(personalTrainerId) && isImmutable('id');
      allow delete: if false;

      match /students/{studentId} {
        allow get, list: if isOwner(personalTrainerId) || (isSignedIn() && request.auth.token.email == resource.data.email);
        allow create: if (isOwner(personalTrainerId) && matchesPath('personalTrainerId', personalTrainerId)) || 
                      (isSignedIn() && request.auth.uid == studentId);
        allow update: if (isOwner(personalTrainerId) || (isSignedIn() && request.auth.token.email == resource.data.email)) && isImmutable('personalTrainerId');
        allow delete: if isOwner(personalTrainerId);

        match /workoutPlans/{workoutPlanId} {
          allow get, list: if isOwner(personalTrainerId) || (isSignedIn() && request.auth.token.email == get(/databases/$(database)/documents/personalTrainers/$(personalTrainerId)/students/$(studentId)).data.email);
          allow create, update, delete: if isOwner(personalTrainerId);
        }

        match /workoutSessions/{workoutSessionId} {
          allow get, list: if isOwner(personalTrainerId) || (isSignedIn() && request.auth.token.email == get(/databases/$(database)/documents/personalTrainers/$(personalTrainerId)/students/$(studentId)).data.email);
          allow create, update: if isOwner(personalTrainerId) || (isSignedIn() && request.auth.token.email == get(/databases/$(database)/documents/personalTrainers/$(personalTrainerId)/students/$(studentId)).data.email);
          allow delete: if isOwner(personalTrainerId);
        }
      }
    }
  }
}
